{
  "branches": [
    "master",
     { name: "beta", prerelease: true }
  ],
  "repositoryUrl": "https://github.com/cmani97/semantic-java",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Semantic Versioning Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md"]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "release/**"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec", {
         "prepareCmd" : "set-version ${nextRelease.version}",
         "publishCmd" : "publish-package"
      }
    ]
  ]
}